<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/998d7ec1c1.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="top-bar">
            <div>
                <p>DE 3 A 6 CUOTAS SIN INTERES</p>
            </div>
        </div>
        <div>
            <div>
                <img src="/desing/images/logo para CTA King con colores predominantes de fuccia, violeta y verde.png">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
            <div>
                <input type="text" value="En que podemos ayudarte?">
            </div>
        </div>
    </header>
    <main>
        <div class="banner">
            <img src="/desing/images/banner_verde.jpg" alt="banner de presentacion">
        </div>
        <div>
            <h2>Productos destacados</h2>
            <section>
                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p></p>
                    <button>AGREGAR AL CARRO</button>
                </article>
                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p></p>
                    <button>AGREGAR AL CARRO</button>
                </article>
            </section>
        </div>
        <section>
            <div>
                <i class="fa-solid fa-circle-info"></i>
                <p>Asesoramiento via Whatsapp</p>
                <p>Te brindamos la ayuda necesaria para saber que tipo producto se adecua mas a tu situacion.</p>
                <p>De lunes a sabados de 10 a 20hs</p>
            </div>
            <div>
                <i class="fa-solid fa-handshake"></i>
                <p>Tranquilidad</p>
                <p>Tenemos años en la industria ayudando a un sinfin de clientes.</p>
            </div>
            <div>
                <i class="fa-solid fa-truck-fast"></i>
                <p>Envios a todo el pais</p>
                <p>Envio gratis a todo el pais. Con tu compra a partir de $150.000</p>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <p>HORARIOS VIVERO Y GROW</p>
            <p>Lunes a sabados de 10 a 20hs</p>
            <p>Domingo cerrado</p>
        </div>
        <div>
            <p>VISITANOS EN GRAND BOURG</p>
            <P>Ricardo rojas 123, entre callao y plumerillo</P>
        </div>
        <div>
            <p>INFORMACION DE UTILIDAD</p>
            <ul>
                <li>Preguntas frecuentes</li>
                <li>Shop</li>
                <li>Envios</li>
                <li>Mi cuenta</li>
            </ul>
        </div>
    </footer>
</body>
</html>